# CubeMX
.mxproject
backup_*.ioc

# Objetos compilados
*.o
*.d
*.elf
*.map

# TouchGFX backups
TouchGFX/*_backup.touchgfx

# Simulador compilado
TouchGFX/simulator/*.exe
TouchGFX/simulator/*.out
TouchGFX/simulator/*.bin